# Ignore the Data folder and its contents
Data/*

# Do not ignore df_temps.csv in the Data folder
!Data/df_temps.csv
!Data/merged_weather_trips.csv

# Ignore Python virtual environments
venv/

# Ignore compiled Python files
*.pyc
__pycache__/





